.rpaas-scrollbars() {
  overflow-y: auto;

  /* WebKit 浏览器（Chrome、Safari 等）自定义滚动条 */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Firefox 自定义滚动条 */
  scrollbar-width: thin;
  scrollbar-color: #e8e8e8 transparent;
}

.rpaas-noscrollbar() {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
