.@{prefix}-preview-container {
  position: relative;
  height: 100%;
  border-radius: 8px;
  border: 1px dashed #999;
  overflow: hidden;

  // 防止点击 iframe 内元素的透明遮罩
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.01);
    cursor: default;
  }
}

.@{prefix}-action-buttons {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
}

.@{prefix}-form-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
