.ant-modal-wrap {
  display: flex;
  align-items: center;

  .ant-modal {
    top: 0;
    padding: 0;

    .ant-modal-body {
      max-height: calc(100vh - 200px);
      overflow: auto;

      .rpaas-noscrollbar();
    }
  }
}
