.@{prefix}-layout {
  overflow-x: hidden;

  .ant-pro-layout-content {
    padding: 16px;
    overflow-x: hidden;
  }

  // 修复 hover 时菜单文字变黑
  .ant-menu-item:hover,
  .ant-menu-submenu-title:hover {
    color: rgba(255, 255, 255, 0.85) !important;
  }
}
